SECRET_KEY=your_secret_key_here
JWT_SECRET_KEY=your_jwt_secret_key_here
DEBUG=False
LOG_LEVEL=INFO
DATABASE_URL=postgresql://user:password@host:port/database_name # Example for PostgreSQL
# OTP_RATE_LIMIT=20 per minute
# LOGIN_RATE_LIMIT=100 per hour